<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/
javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/
javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>German Flash Cards Jetty</display-name>

	<!-- MainServlet -->
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>edu.vt.ece4564.justinboblitt.germanflashcardsjetty.MainServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- User Deck Tree Servlet -->
	<servlet>
		<servlet-name>UserDeckTree</servlet-name>
		<servlet-class>edu.vt.ece4564.justinboblitt.germanflashcardsjetty.UserDeckTreeServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserDeckTree</servlet-name>
		<url-pattern>/userdecktree</url-pattern>
	</servlet-mapping>
</web-app>